
.grid-container{
    display: grid;
    /* grid-template-columns: 200px 400px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr; */

    /* grid-template-rows: 200px 200px 200px; */

    /* This works only when grid container has some height not with respect to screen */
    /* grid-template-rows: 1fr 1fr 1fr; */


    /* grid-template-columns: 300px 300px 300px; */
    /* grid-template-rows: 300px 300px 300px; */


    /* ### Now Think When a new box comes */
    grid-auto-rows: 300px;
    grid-auto-columns: 300px;

    /* By default it is row (when new element comes it goes to row) */
    /* grid-auto-flow: row; */
    grid-auto-flow: column;





    /* justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center; */


    gap: 1em;

}

.item{
    /* width: 100px;
    height: 100px; */

    padding: 2em;
    background-color: hsl(240, 90%, 68%);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
    border: 1px solid black;
}