@font-face {
  src: url(fonts/Yuyu-Regular.ttf);
  font-family: Yuyu;
}

@font-face {
  src: url(fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
  font-family: "Bricolage-Grotesque";
}

h1 {
  font-family: "Yuyu", cursive, sans-serif, Arial;
}

p {
  font-family: "Bricolage-Grotesque", Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
